@page "/"
@using BlazorWebAssembly.NetCore5.Shared;
@using BlazorWebAssembly.NetCore5.Shared.Common;
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Grids;


<h1>Syncfusion Grid</h1>

@code{
    string BlazorAppVariable = "Blazor Web Assembly";
}

Welcome to your new app @BlazorAppVariable.

<SurveyPrompt Title="How is Blazor working for you?" />


@code{

    public List<User> UsersList { get; set; }

    protected override void OnInitialized()
    {
        UsersList = LoadData();
    }

    //private List<User> LoadData()
    //{
    //    List<User> UserList = new List<User>();

    //    User user = new User();
    //    user.Id = Guid.Empty;
    //    user.FirstName = "Usman";
    //    user.LastName = "Asghar";
    //    user.Username = "Admin";
    //    user.Role = 1;
    //    user.Phone = "Test";
    //    user.Email = "usmanasgh@gmail.com";
    //    UserList.Add(user);

    //    User user2 = new User();
    //    user2.Id = Guid.Empty;
    //    user2.FirstName = "Humayun";
    //    user2.LastName = "Asghar";
    //    user2.Username = "Admin";
    //    user2.Role = 1;
    //    user2.Phone = "Test";
    //    user2.Email = "Humayun@gmail.com";
    //    UserList.Add(user2);


    //    return UserList;
    //}

    private List<User> LoadData()
    {
        List<User> UserList = new List<User>();

        User user = new User
        {
            Id = new Guid(),
            FirstName = "Usman",
            LastName = "Asghar",
            Username = "Admin",
            Role = new Role { Id = Enums.Role.Admin, Name = "Administrator", ShortName = "Admin" },
            Phone = "Test",
            Email = "usmanasgh@gmail.com"
        };

        User user2 = new User
        {
            Id = new Guid(),
            FirstName = "Humayun",
            LastName = "Asghar",
            Username = "Admin",
            Role = new Role { Id = Enums.Role.standard, Name = "Standard", ShortName = "Std" },
            Phone = "Test",
            Email = "usmanasgh@gmail.com"
        };


        return new List<User> { user, user2 };
    }
}



<SfGrid DataSource="@UsersList">
    <GridColumns>
        <GridColumn Field="@nameof(User.Username)" HeaderText="Username"></GridColumn>
        <GridColumn Field="@nameof(User.FirstName)" HeaderText="FirstName"></GridColumn>
        <GridColumn Field="@nameof(User.LastName)" HeaderText="LastName"></GridColumn>
        <GridColumn Field="@nameof(User.Role)" HeaderText="Role"></GridColumn>
        <GridColumn Field="@nameof(User.Phone)" HeaderText="Phone"></GridColumn>
    </GridColumns>
</SfGrid>

@*<SfGrid DataSource="@Orders" AllowPaging="true" AllowSorting="true">
        <GridPageSettings PageSize="5"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(Order.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
            <GridColumn Field=@nameof(Order.CustomerID) HeaderText="Customer Name" Width="150"></GridColumn>
            <GridColumn Field=@nameof(Order.OrderDate) HeaderText=" Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
            <GridColumn Field=@nameof(Order.Freight) HeaderText="Freight" Format="C2" TextAlign="TextAlign.Right" Width="120"></GridColumn>
        </GridColumns>
    </SfGrid>

    @code{
        public List<Order> Orders { get; set; }

        protected override void OnInitialized()
        {
            Orders = Enumerable.Range(1, 75).Select(x => new Order()
            {
                OrderID = 1000 + x,
                CustomerID = (new string[] { "ALFKI", "ANANTR", "ANTON", "BLONP", "BOLID" })[new Random().Next(5)],
                Freight = 2.1 * x,
                OrderDate = DateTime.Now.AddDays(-x),
            }).ToList();
        }

        public class Order
        {
            public int? OrderID { get; set; }
            public string CustomerID { get; set; }
            public DateTime? OrderDate { get; set; }
            public double? Freight { get; set; }
        }
    }*@